<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Pure CSS Mega Menu</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css'>
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,300italic,700'>
<link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<nav>
	<ul class="menu">
		<li>Choose a Category</li>
		<li>
			<h3>Books</h3>
			<div>
				<h4>Books</h4>
				<h5>Language</h5>
				<ul>
					<li><a href="#">English</a></li>
					<li><a href="#">Dutch</a></li>
					<li><a href="#">German</a></li>
					<li><a href="#">French</a></li>
					<li><a href="#">Spanish</a></li>
					<li><a href="#">Turkish</a></li>
					<li><a href="#">Arabic</a></li>
				</ul>
			</div>
		</li>
		<li>
			<h3>Computer & Electronics</h3>
			<div>
				<h4>Smartphones</h4>
			</div>
		</li>
		<li>
			<h3>Toys</h3>
			<div>
				<h4>Brands</h4>
			</div>
		</li>	
		<li>
			<h3>Sport & Leisure</h3>
			<div>
				<h4>Sport</h4>
			</div>
		</li>
		<li>
			<h3>Home & Cooking</h3>
			<div>
				<h4>Cooking</h4>
			</div>
		</li>	
		<li>
			<h3>Garden & DIY</h3>
			<div>
				<h4>Garden</h4>
			</div>
		</li>
		<li>
			<h3>Gifts</h3>
			<div>
				<h4>Gifts</h4>
			</div>
		</li>
		<li>
			<h3>Specials</h3>
			<div>
				<h4>Specials</h4>
			</div>
		</li>	
	</ul>
	<ul class="temp">
		<li><a href="#">Magazine</a></li>
		<li><a href="#">Trends</a></li>
		<li><a href="#">Specials</a></li>
		<li><a href="#">Shop</a></li>
	</ul>
</nav>
<main>
	<p>Banner</p>
</main>
<!-- partial -->
  
</body>
</html>
